.orbitControl {
  margin-bottom: 20px;
}

.button {
  padding: 10px;
  background-color: rgb(52 95 232);
  border-radius: 8px;
  margin-right: 10px;
}

.planet-block {
  position: relative;

  color: white;
}
.edit-mode-B .planet-block{
  padding:13px 0;
}
.edit-mode-A .planet-block {
  border-right: 1px solid #ffffff0d;
  padding: 0;
  margin-top: 40px;
}

.edit-mode-A .panel:nth-child(4) .planet-block,
.edit-mode-A .panel:nth-child(8) .planet-block {
  border: none;
}

.planet-block .orbit-tag {
  position: absolute;

}
.edit-mode-A .planet-block .orbit-tag{
  top: -26px;
  right: 10px;
  font-size: 14px;
}
.edit-mode-B .planet-block .orbit-tag{
  color: grey;
  left: -1px;
  top: 1px;
  font-size: 12px;
}
.edit-mode-A .planet-block .planet {
  position: absolute;
  top: -74px;
  left: 50%;
  transform: translateX(-50%);
}

.planet-block select {
  background-color: transparent;
}

.planet-block option {
  color: black;
}

.button-apply {
  background-color: #8c8c8c30;
  border-radius: 4px;
}

.button-apply:hover {
  background-color: #5490ff;
}
